*{
    -fx-base: lightgray;
}

.backgroundDessert
{
    -fx-base: Red;
}

.button{
    -fx-text-fill: white;
    -fx-shape: "M 200 300 L 200 350 L 300 350 L 300 300 Z";
    -fx-background-color: darkred;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}

.testButton
{

    -fx-shape: "M 300 300 L 300 300 A 50 50 0 1 1 450 300 A 50 50 0 1 1 300 300  Z";
    -fx-border-color: Red;
    -fx-border-width: 2;
    -fx-background-color: white;
}

.headlineRedLabel
{
    -fx-alignment: center;
    -fx-font-family: Stencil;
    -fx-font-size: 22;
    -fx-text-fill:  red;
}

.headlineTextRed
{
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-text-fill:  red;
}

.headlineTextWhite
{
    -fx-font-family: Stencil;
    -fx-background-color: red;
    -fx-alignment: center;
    -fx-font-size: 22;
    -fx-text-fill:  white;
}


.headlineDishesBlack
{
    -fx-alignment: center;
    -fx-font-family: Stencil;
    -fx-font-size: 18;
}

.headlineDishesRed
{
    -fx-alignment: left;
    -fx-font-family: Stencil;
    -fx-text-fill: red;
    -fx-font-size: 18;
}

.dishesTextBlack
{
    -fx-text-alignment: left;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.dishesTextWhite
{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.dishesTextRed
{
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.dishesText
{
    -fx-font-size: 14;
}

.dishesRedText
{
    -fx-text-fill: red;
    -fx-font-size: 14;
}

.slatDishLabel
{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.dessertDishLabel
{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.allYouCanEatText
{
    -fx-font-family: Vivaldi;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.saltDishText
{
    -fx-background-color: green ;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.dishesTextBlackRight
{
    -fx-text-alignment: right;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}